.DS_Store
Thumbs.db
db.json
*.log


node_modules/
public/
.deploy_git/

# Next specify 

!themes/next/_config.yml
!themes/next/source/images/favicon-16x16.ico
!themes/next/source/images/favicon-16x16.png
!themes/next/source/images/favicon-32x32.ico
!themes/next/source/images/favicon-32x32.png

themes/

